<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712553444143-mamgjaitkb88k2h34ovhgnqmil77dbea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712553444143-mamgjaitkb88k2h34ovhgnqmil77dbea</string>
	<key>API_KEY</key>
	<string>AIzaSyBCla4MVqMZZ2LDc497EPpehG37NcGw1Y4</string>
	<key>GCM_SENDER_ID</key>
	<string>712553444143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ameni.ToDoListApp</string>
	<key>PROJECT_ID</key>
	<string>todolistapp-dbc36</string>
	<key>STORAGE_BUCKET</key>
	<string>todolistapp-dbc36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712553444143:ios:f8a3007c000e1c87c7e7da</string>
</dict>
</plist>